body {
  background: @body-bg;
}
ul,li {
  padding: 0;
  list-style-type: none;
}
a {
  color: #3DB7CE;
}
.data-source-modal-dialog {
  .ant-modal-body {
    padding: 0;
  }
}
.report-designer-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #2b3e50;

  .report-designer-main {
    display: flex;
    flex: 1;
    overflow: hidden;
    background: #E1E1E1;
    .report-designer-side {
      position: relative;
      overflow-x: hidden;
      width: 240px;
      height: 100%;
      transition: width .2s;
      background: #3db7ce;
      .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
        background: #65c7d9;
        box-shadow: none;
      }
      .ant-menu-dark .ant-menu-item-selected .anticon, .ant-menu-dark .ant-menu-item-selected .anticon+span, .ant-menu-dark .ant-menu-item-selected>a, .ant-menu-dark .ant-menu-item-selected>a:hover, .ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
        color: #205e5a;
      }
      .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected {
        background-color: #78d6cd;
      }
      .logo {
        width: 185pt;
        height: 53pt;
        color: #333345;
        background-color: #f1f2f3;
        font-size: 10pt;
        padding: 9pt;
      }
      &.shrink {
        width: 70px;
        transition: width .2s;
        .logo {
          max-width: 100%;
          max-height: 40px;
        }
      }
      .side-icon-box{
        display: inline-block;
        width: 100%;
        height: 26px;
        position: absolute;
        bottom: 0px;
        cursor: pointer;
        text-align: center;
        line-height: 24px;
        border-top: 1px solid rgba(255,255,255,.7);
        border-bottom: 1px solid rgba(255,255,255,.7);
        color: #fff;
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
    .report-designer-content {
      overflow: auto;
      flex: 1;
      padding: 6px;
    }
  }
}
